body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: #fff;
}

.logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #2e2f42;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
}

.accent-logo {
  color: #4d5ae5;
}

.list-nav {
  line-height: 1.5;
  letter-spacing: 0.02em;
  list-style-type: none;
}

.link-nav {
  color: #2e2f42;
  font-weight: 500;
  text-decoration: none;
}

.link-nav:hover,
.link-nav:focus {
  color: #404bbf;
}

.list-contact {
  line-height: 1.5;
  letter-spacing: 0.02em;
  list-style-type: none;
  font-style: normal;
}

.link-contact {
  color: #434455;
  text-decoration: none;
}

.link-contact:hover,
.link-contact:focus {
  color: #404bbf;
}

/* section Effective Solutions for Your Business */
.solutions {
  background-color: #2e2f42;
}

.title {
  text-align: center;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  font-weight: 700;
  font-size: 36px;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  color: #fff;
  line-height: 1.07143;
  letter-spacing: 0.02em;
}

.btn-order {
  background-color: #4d5ae5;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.btn-order:hover,
.btn-order:focus {
  background-color: #404bbf;
}

/* section features */

.list-features {
  list-style-type: none;
}

.title-card-features {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text-features {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* team */
.team {
  background-color: #f4f4fd;
}

.list-team {
  list-style-type: none;
}

.card-team {
  background-color: #fff;
}

.names-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.text-team {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
/*  */

.list-portfolio {
  list-style-type: none;
}

.title-catd-portfolio {
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 20px;
}

.text-portfolio {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* footer */

.page-footer {
  background-color: #2e2f42;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #f4f4fd;
  line-height: 1.16667;
  letter-spacing: 0.03em;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.accent-footer {
  color: #4d5ae5;
}
